<% layout('layout/boilerplate') -%>


<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Edit Campground</h1>
      <form action="/campgrounds/<%=campground.id  %>?_method=PATCH" method="post" novalidate class="validated-form" enctype="multipart/form-data">
        <section class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="campground[title]"
            id="title"
            placeholder=""
            class="form-control"
            value="<%=campground.title  %>"
            required
          />
        </section>
        <section class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="campground[location]"
            placeholder=""
            class="form-control"
            value="<%=campground.location  %>"
            required
          />
        </section>
        <section class="mb-3">          
        <label for="price" class="mb-2">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input 
          type="String" 
          class="form-control" 
          placeholder="0.00"
          aria-describedby="basic-addon1" 
          name="campground[price]"
          value="<%=campground.price  %>" 
          required
          id="price">
        </div>
        
        </section>              

        <section class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            name="campground[description]"
            placeholder=""
            class="form-control"
            required
            rows="3"
          /><%=campground.description  %></textarea>
        </section>
        <div class="mb-3 custom-file">
          <span>Upload more images:</span>
              <label for="image" class="form-label custom-file-label"></label>
              <input class="form-control" type="file" id="image" name="image" multiple>
        </div>
        <div class="mb-3">
          <% campground.image.forEach((img,i)=>{ %>
          <img src="<%=img.thumbnail  %>" alt="" class="img-thumbnail">
          <div class="form-check-inline">
            <input type="checkbox" id="image-<%=i  %>" name="deleteImages[]" value="<%=img.filename  %>">
          </div>
          <label for="image-<%=i  %>">Delete?</label>
          <% }) %>
        </div>
        <button type="submit" class="btn btn-info">Edit Campground</button>
      </form>
      <a href="/campgrounds">Back to all campgrounds</a>
    </div>
  </div>
</div>

